In [28]:
print("Hello and welcome to Awesome Jobs.")
print('We will together find a better job for you.\n')


print("\n------------------------")
name = input('Q1. Tell me, what is your full name?\n')
city = input('Q2. Which city are you from?\n')
gend = input("Q3. What's your gender?\n")
age  = input("Q4. What's your age?\n")
print("------------------------")

print("\n")
print("This is exciting.")
print("I already have found more than 300 jobs that you might like.\n")

print("------------------------")
for i in jobs.keys():
    print(i, ":" ,jobs[i])
print("------------------------\n")

job = jobs[int(input("Press any of the following number: "))]


print("------------------------")
for i in salaries.keys():
    print(i, ":" ,salaries[i])
print("------------------------\n")

salary = salaries[int(input("Q6. What is your monthly salary expectations(in CTC)?\n"))]

Hello and welcome to Awesome Jobs.
We will together find a better job for you.


------------------------
Q1. Tell me, what is your full name?
Ashish
Q2. Which city are you from?
Delhi
Q3. What's your gender?
Male
Q4. What's your age?
22
------------------------


This is exciting.
I already have found more than 300 jobs that you might like.

------------------------
1 - Software Engineer
2 - Web Developers
3 - Android Developers
4 - AI Engineers
5 - Data Scientists
------------------------

Press any of the following number: 5
------------------------
1 - 5  - 8
2 - 8  - 10
3 - 10 - 12
4 - 12 - 15
5 - 15 - 20
------------------------

Q6. What is your monthly salary expectations(in CTC)?
4

In [38]:
print("----------------User Details---------------")

print("Name                 : ",name)
print("Age                  : ",age)
print("Gender               : ",gend)
print("City                 : ",city)
print("Job Role             : ",job)
print("Salary Expectations  : ",salary)
print("--------------------------------------------")

----------------User Details---------------
Name                 :  Ashish
Age                  :  22
Gender               :  Male
City                 :  Delhi
Job Role             :  Data Scientists
Salary Expectations  :  12 - 15
--------------------------------------------

In [27]:
jobs = {1 : "Software Engineer",
        2 : "Web Developers",
        3 : "Android Developers",
        4 : "AI Engineers",
        5 : "Data Scientists"}

salaries = {1 : "5  - 8",
            2 : "8  - 10",
            3 : "10 - 12",
            4 : "12 - 15",
            5 : "15 - 20"}


database = {1 : {'Job' : "Software Engineer" , "Company" : "Google"   , "Salary" : "10 - 12"},
            2 : {'Job' : "Data Scientists"   , "Company" : "ETG"      , "Salary" : "10 - 12"},
            3 : {'Job' : "Web Developers"    , "Company" : "Apple"    , "Salary" : "12 - 15"},
            4 : {'Job' : "AI Engineers"      , "Company" : "Microsoft", "Salary" : "8  - 10"},
            5 : {'Job' : "Android Developers", "Company" : "NVIDIA"   , "Salary" : "5  - 8"}}

In [13]:


print(jobs[ch])

------------------------
1 - Software Engineer
2 - Web Developers
3 - Android Developers
4 - AI Engineers
5 - Data Scientists
------------------------

Press any of the following number.
5
Data Scientists