In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('googleplaystore.csv')

In [3]:
df.drop(['Last Updated', 'Current Ver', 'Android Ver'], axis = 1, inplace = True)

In [4]:
df.dropna(inplace = True)

In [5]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity

# Category

In [8]:
unique_categories = df['Category'].unique()

In [10]:
len(unique_categories)

33

In [23]:
def categories(name):
    
    c = 0

    for i in df['Category'].values:
        if( i == name):
            c += 1

    print(c)

In [25]:
categories(name = 'EDUCATION')

155

# Price

In [41]:
price = []

for i in df['Price'].values:
    if ('0' == i):
        price.append(0)
    else:
        price.append(int(float(i[1:]) * 73.5))

In [43]:
type(price)

list

In [45]:
df['Price'].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$7.99', '$5.99', '$2.99', '$3.49',
       '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49', '$10.00',
       '$24.99', '$11.99', '$79.99', '$16.99', '$14.99', '$29.99',
       '$12.99', '$2.49', '$10.99', '$1.50', '$19.99', '$15.99', '$33.99',
       '$39.99', '$3.95', '$4.49', '$1.70', '$8.99', '$1.49', '$3.88',
       '$399.99', '$17.99', '$400.00', '$3.02', '$1.76', '$4.84', '$4.77',
       '$1.61', '$2.50', '$1.59', '$6.49', '$1.29', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$8.49', '$1.75', '$14.00', '$2.00',
       '$3.08', '$2.59', '$19.40', '$3.90', '$4.59', '$15.46', '$3.04',
       '$13.99', '$4.29', '$3.28', '$4.60', '$1.00', '$2.95', '$2.90',
       '$1.97', '$2.56', '$1.20'], dtype=object)

# Content Rating

In [47]:
df['Content Rating'].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated'], dtype=object)

In [48]:
def content_rating(name):
    
    c = 0

    for i in df['Content Rating'].values:
        if( i == name):
            c += 1

    print(c)

In [49]:
content_rating('Everyone')

7420

In [50]:
content_rating('Teen')

1084

In [51]:
content_rating('Everyone 10+')

397

In [52]:
content_rating('Mature 17+')

461

In [55]:
content_rating('Adults only 18+')

3

In [57]:
content_rating('Unrated')

1