In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('googleplaystore.csv')

In [22]:
df.drop(['Last Updated', 'Current Ver', 'Android Ver'], axis = 1, inplace = True)

In [23]:
df.dropna(inplace = True)

In [24]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity

# Category

In [25]:
unique_categories = df['Category'].unique()

In [48]:
def categories(name):
    
    c = 0

    for i in df['Category'].values:
        if( i == name):
            c += 1

    return c

In [49]:
categories('EDUCATION')

155

In [52]:
dct = {}

for i in df['Category'].unique():
    
    var = categories(i)
    dct[i] = var

In [58]:
dct['FAMILY']

1747

# Price

In [59]:
price = []

for i in df['Price'].values:
    if ('0' == i):
        price.append(0)
    else:
        price.append(int(float(i[1:]) * 73.5))

In [63]:
def price(name):
    
    c = 0

    for i in df['Price'].values:
        if( i == name):
            c += 1

    return c

In [83]:
dct = {}

for i in df['Price'].unique():
    var = price(i)
    dct[i] = var

In [86]:
dct['0']

8719

# Content Rating

In [31]:
df['Content Rating'].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated'], dtype=object)

In [87]:
def content_rating(name):
    
    c = 0

    for i in df['Content Rating'].values:
        if( i == name):
            c += 1

    return c

In [88]:
dct = {}

for i in df['Content Rating'].unique():
    var = content_rating(i)
    
    dct[i] = var

In [89]:
dct

{'Adults only 18+': 3,
 'Everyone': 7420,
 'Everyone 10+': 397,
 'Mature 17+': 461,
 'Teen': 1084,
 'Unrated': 1}

# Genres

In [92]:
def genres(name):
    
    c = 0

    for i in df['Genres'].values:
        if( i == name):
            c += 1

    return c

In [98]:
dct = {}

for i in df['Genres'].unique():
    var = genres(i)
    dct[i] = var

In [102]:
dct['Communication']

328

In [101]:
dct

{'Action': 358,
 'Action;Action & Adventure': 17,
 'Adventure': 73,
 'Adventure;Action & Adventure': 13,
 'Adventure;Brain Games': 1,
 'Adventure;Education': 2,
 'Arcade': 207,
 'Arcade;Action & Adventure': 15,
 'Arcade;Pretend Play': 1,
 'Art & Design': 56,
 'Art & Design;Creativity': 7,
 'Art & Design;Pretend Play': 2,
 'Auto & Vehicles': 73,
 'Beauty': 42,
 'Board': 41,
 'Board;Action & Adventure': 3,
 'Board;Brain Games': 15,
 'Board;Pretend Play': 1,
 'Books & Reference': 178,
 'Books & Reference;Education': 2,
 'Business': 303,
 'Card': 45,
 'Card;Action & Adventure': 2,
 'Card;Brain Games': 1,
 'Casino': 37,
 'Casual': 185,
 'Casual;Action & Adventure': 21,
 'Casual;Brain Games': 13,
 'Casual;Creativity': 7,
 'Casual;Education': 3,
 'Casual;Music & Video': 2,
 'Casual;Pretend Play': 31,
 'Comics': 57,
 'Comics;Creativity': 1,
 'Communication': 328,
 'Communication;Creativity': 1,
 'Dating': 195,
 'Education': 468,
 'Education;Action & Adventure': 6,
 'Education;Brain Games': 4,
 'Education;Creativity': 7,
 'Education;Education': 50,
 'Education;Music & Video': 5,
 'Education;Pretend Play': 23,
 'Educational': 32,
 'Educational;Action & Adventure': 4,
 'Educational;Brain Games': 6,
 'Educational;Creativity': 5,
 'Educational;Education': 38,
 'Educational;Pretend Play': 18,
 'Entertainment': 533,
 'Entertainment;Action & Adventure': 3,
 'Entertainment;Brain Games': 8,
 'Entertainment;Creativity': 3,
 'Entertainment;Education': 1,
 'Entertainment;Music & Video': 27,
 'Entertainment;Pretend Play': 2,
 'Events': 45,
 'Finance': 323,
 'Food & Drink': 109,
 'Health & Fitness': 297,
 'Health & Fitness;Action & Adventure': 1,
 'Health & Fitness;Education': 1,
 'House & Home': 76,
 'Libraries & Demo': 65,
 'Lifestyle': 313,
 'Lifestyle;Education': 1,
 'Lifestyle;Pretend Play': 1,
 'Maps & Navigation': 124,
 'Medical': 350,
 'Music': 21,
 'Music & Audio;Music & Video': 1,
 'Music;Music & Video': 3,
 'News & Magazines': 233,
 'Parenting': 40,
 'Parenting;Brain Games': 1,
 'Parenting;Education': 3,
 'Parenting;Music & Video': 6,
 'Personalization': 314,
 'Photography': 317,
 'Productivity': 351,
 'Puzzle': 121,
 'Puzzle;Action & Adventure': 5,
 'Puzzle;Brain Games': 19,
 'Puzzle;Creativity': 2,
 'Puzzle;Education': 1,
 'Racing': 93,
 'Racing;Action & Adventure': 20,
 'Racing;Pretend Play': 1,
 'Role Playing': 106,
 'Role Playing;Action & Adventure': 7,
 'Role Playing;Brain Games': 1,
 'Role Playing;Pretend Play': 5,
 'Shopping': 238,
 'Simulation': 194,
 'Simulation;Action & Adventure': 11,
 'Simulation;Education': 3,
 'Simulation;Pretend Play': 4,
 'Social': 259,
 'Sports': 333,
 'Sports;Action & Adventure': 4,
 'Strategy': 103,
 'Strategy;Action & Adventure': 2,
 'Strategy;Creativity': 1,
 'Strategy;Education': 1,
 'Tools': 733,
 'Tools;Education': 1,
 'Travel & Local': 225,
 'Travel & Local;Action & Adventure': 1,
 'Trivia': 28,
 'Video Players & Editors': 158,
 'Video Players & Editors;Creativity': 2,
 'Video Players & Editors;Music & Video': 3,
 'Weather': 75,
 'Word': 28}